header {
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
    font-size: x-large;
    
}

.Top {
    background-color: darkblue;
    color: white;
    display: inline-flex;
    width: 100%;

}

.arriba {
    color: white;
}

a:hover{
    font-size: 20px;

}

.Top div {
    margin: 10px;
}

.Izquierda {
    border: 1px black solid;
    float: left;
    margin-top: 3%;
    text-align: center;
    background-color: darkblue;
    color: white;
    padding-bottom: 10px;
    border-radius: 20px;
}

.Izquierda div {
    margin-bottom: 40px;

}

.Izquierda img {
    width: 120px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.Izquierda2 {
    background-color: darkblue;
    color: white;
    position: absolute;
    right: 65%;
    margin-top: 3%;
    width: 200px;
    height: 470px;
    border: 1px black solid;
    border-radius: 20px;
    text-align: center;
}

.imagenes img {
    height: 60px;
}

.dentro {
    text-align: center;
}

.aweb {
    position: absolute;
    top: 60%;
}

.spoti {
    color: yellowgreen;
}

.aweb a:link {
    background-color: ghostwhite;
}

.centro {
    border: 1px black solid;
    margin-top: 50px;
    margin-right: 7px;
    border-radius: 5px;
    height: 465px;
    float: right;
    width: 60%;
    column-count: 3;
    column-rule: 2px black solid;
    font-size: 17px;
}

article img {
    width: 150px;
    position: absolute;
    bottom: 45%;
    left: 42%;
    border-radius: 2000px;
}

body {
    background-color: bisque;
    height: 150%;

}
.abajo a{
    color: white;
}


footer {
    background-color: darkblue;
    display: inline-flex;
    position: absolute;
    left: 0.5%;
    width: 99%;
    bottom: 0;
    text-align: center;

}

div.abajo {
    text-align: center;
    margin: 10px;
    margin-left: 300px;
    color: white;
}